---
layout: default
---

<section class="projects">

  <h1 class="page-heading">{{ page.title | escape }}</h1>

  <div class="wip">
    <h2 class="wip"><span class="wip-header">WORKS IN PROGRESS</span></h2>

    <div class="map-editor">
      <a href="https://github.com/{{ site.github_username }}/FruitEditor_v1_1">FruitEditor (tile map editor)</a>
    </div>

    <div class="ruinology">
      <a href="https://github.com/{{ site.github_username }}/Ruinology">Ruinology</a>
    </div>

    <div class="den">
      <a href="https://github.com/{{ site.github_username }}/Den">The Epic of Den</a>
    </div>

    <div class="ar-prinz">
      ar-Prinz: Imperial Seal (<a href="http://en.wikipedia.org/wiki/RPG_Maker_VX_Ace">RPG Maker VX Ace</a>)
    </div>
  </div>
  
  <div class="finished">
    <h2 class="finished"><span class="fin-header">FINISHED</span></h2>

    <div class="celine">
      The Celine Project (demo) (RPG Maker VX Ace, 2013)
    </div>

    <div class="phoenix">
      Phoenix Wings (RPG Maker XP, 2007)
    </div>
  </div>

</section>
